<app-header backGroundColor="#1a1423"></app-header>

<main class="container-fluid">
    <div class="row">
        <div class="col-md-6">
            <div class="mx-4">
                <h1 class="text-start pt-4 px-4 title">Aviso de privacidad</h1>
                <h2 class="text-start pt-4 px-4 title">Ultima actualización Mayo 2026</h2>
                <p class="text-start px-4">Este es un proyecto personal, hago esto como una persona.
                    He visto cientos de sitios con un aviso de privacidad que tienen una forma específica. 
                    Sólo sere clara con las reglas del mundo que competen con mi posición geográfica actual.
                    Trataré de actualizar las políticas si mi situación cambia. 
                </p>
            </div>
        </div>
        <div class="col-md-6">
           <div class="d-flex flex-column align-items-center">
            <ul>
                <li>Debes ser mayor de 18 años.</li>
                <li>No usare tu información para venderte información, pero no respondo por terceros.</li>
                <li>Intentaŕe que sea transparente que tecnologías utilicé para 
                  desarrollar mi proyecto. Así el código se mantiene bajo los estandares
                  de la transparencia.
                </li>

                </ul>
           </div>
        </div>
    </div>
</main>

<app-footer></app-footer>