.container-fluid {
    background-color: #1a1423;
    padding-top: 100px;
    padding-bottom: 80px;
    color: #eacdc2;
}

.title {
    color: #b75d69;
    font-weight: 800;
}

#container-social-media {
    font-size: 3rem;
}

.social-media {
    color: #eacdc2;
}

form {
    background-color: #b75d69;
    border-radius: 20px;
    width: 50%;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

#emailHelp {
    color:#eacdc2;
}

.btn-secundary {
    background-color: #eacdc2;
    color: #1a1423;
}

@media (max-width: 426px) {
    .container-fluid {
        padding-top: 20px;
    }

    #container-social-media {
        font-size: 2rem;
    }

    form {
        width: 80%;
    }
}