<app-header backGroundColor="#1a1423"></app-header>

<main class="container-fluid">
    <div class="row">
        <div class="col-md-6">
            <div class="mx-4">
                <h1 class="text-start pt-4 px-4">Escríbeme un mensaje</h1>
                <p class="text-start px-4">Me pondré en contacto contigo.
                    También puedes encontrarme en redes sociales. ¡Hablemos sobre tu proyecto! 🔥🥳</p>
            </div>
        </div>
        <div class="col-md-6">
           <div class="d-flex flex-column align-items-center">
            <form class="mx-4">
                <div class="m-3">
                    <label for="InputEmail1" class="form-label pt-4">Correo Electrónico</label>
                    <input type="email" class="form-control" id="InputEmail1" aria-describedby="emailHelp">
                    <div id="emailHelp" class="form-text">No compartire tu información con nadie.</div>
                </div>
                <div class="m-3">
                    <label for="inputTextarea" class="form-label pt-2">Escribe tu mensaje:</label>
                    <input type="textarea" class="form-control" id="inputTextarea" rows="4" cols="50">
                </div>
                <button type="submit" class="btn btn-secundary m-4">Enviar</button>
            </form>
           </div>
        </div>
    </div>
</main>