<app-header backGroundColor="#774c60"></app-header>

<article class="container-fluid" id="container-presentation">
    <div class="row">
        <div class="col-md-12">
            <h1 class="text-center p-2" id="text-title">¡Hola, soy <span class="span">Daniela</span> Andrade!</h1>
            <hr class="hr">
        </div>
        <div class="col-md-4">
            <p class="text-center text-highlight">Front end developer<i class='bx bx-code-alt'></i></p>
        </div>
        <div class="col-md-4">
            <p class="text-center text-highlight">Update: Marzo 2025<i class='bx bxs-time'></i></p>
        </div>
        <div class="col-md-4">
            <div class="d-flex flex-wrap justify-content-center align-items-center"><a class="text-highlight"
                    href="">Contáctame</a><i class='bx bx-right-arrow-alt'></i></div>
        </div>

        <div class="col-md-8" id="container-description-text">
            <p class="text-start px-4 pt-4 description-text">Una persona persona curiosa por naturaleza. Me encanta
                <span class="span">escribir</span>,
                investigar, organizar ideas, <span class="span">programar</span> y explorar nuevas formas de <span
                    class="span">entender el mundo</span>.
                Disfruto aprender tanto como <span class="span">compartir</span> lo que aprendo.
            </p>
        </div>

        <div class="col-md-4"></div>

        <div class="col-md-4"></div>

        <div class="col-md-4 my-4">
            <p class="text-justify pt-4 p-2 paragraph">
                Me interesa el trabajo freelance porque quiero proyectos que me permitan estar en casa
                con mi perrita, conocer gente interesante y practicar mi inglés. También porque me gusta
                la libertad de elegir qué construir con mi código. Pero también estoy abierta a formar
                parte de un equipo en una empresa o corporativo que quiera transformar su negocio en el
                mundo digital y necesite un front-end developer que combine creatividad, usabilidad
                y buen código.
            </p>
        </div>

        <div class="col-md-4"></div>
    </div>
</article>

<main class="container-fluid" id="container-main">
    <div class="row">
        <div class="col-md-5"></div>

        <div class="col-md-7">
            <p class="text-start pt-4 px-4 description-text">
                Por ahora, me especializo en crear <span class="span">landing pages</span> donde puedes
                contar la historia de <span class="span"> tu negocio, tu perfil profesional o cualquier proyecto
                    que te apasione</span>. También puedo diseñar
                y desarrollar blogs hechos a la medida de tus necesidades. Si tienes una idea en mente,
                <span class="span">podemos hacerla realidad.</span>
            </p>
        </div>

        <div class="col-md-6 proyects">
            <p class="text-start px-4 proyect">Participo en diferentes proyectos:</p>
            <ul>
                <li>📖 Un diario de lecturas, donde comparto mis libros favoritos y reflexiones con la comunidad
                    lectora.</li>
                <li> 😂 Una colección de memes, porque el internet es cultura y alguien tiene que preservar lo mejor de
                    él.</li>
                <li>🎙️ Un podcast sobre historia y cultura, donde exploro cómo las ideas han dado forma al mundo en el
                    que
                    vivimos.</li>
            </ul>
        </div>

        <div class="col-md-6 proyects">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/OdSnu7utIDs?si=-JwQxnsWYdWHae4l"
                title="YouTube video player" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        </div>

        <div class="col-md-12" id="container-museums">
            <p class="text-justify px-4 p-2">Cuando no estoy programando, me puedes encontrar recorriendo museos,
                galerías y
                rincones escondidos de la ciudad.
                Caminar y descubrir lugares nuevos es mi manera de hackear la rutina.
            </p>
        </div>

        <div class="col-md-2"></div>

        <div class="col-md-8" id="container-timeline">
            <h2 class="text-center text-title">Preparación profesional</h2>
            <div class="timeline">
                <div class="timeline-item right">
                    <div class="content">
                        <h3 class="text-start px-2 pt-2">Ingeniería en Sistemas Computacionales </h3>
                        <h4 class="text-start px-2">(en curso)</h4>
                        <p class="text-justify px-2">
                            En Octubre de 2024 tomé la decisión de profesionalizarme en lo que más me gusta hasta ahora. Los sistemas y
                            las computadoras son dos cosas que me apasionan. No imaginé que terminaría haciendo algo así, pero estoy muy 
                            contenta aprendiendo sobre temas que llegaron a parecerme esotericos y fuera de mi alcance. ¡Próximamente licenciada 
                            en ingenieria!
                        </p>
                        <a class="p-2" href="https://mexico.unir.net/ingenieria/licenciatura-ingenieria-sistemas-computacionales/" target="_blank">Ver más</a>
                    </div>
                </div>
                <div class="timeline-item left">
                    <div class="content">
                        <h3 class="text-start px-2 pt-2">UX Design Google by Coursera</h3>
                        <h4 class="text-start px-2">En curso</h4>
                        <p class="text-justify px-2">
                            Esta certificación aborda temas que son elementales para toda persona que quiera conocer como es el Desarrollo
                            de un diseño aplicado a software. En él me sentí confiada de que hay caminos largos por aprender. El diseño de 
                            experiencia de usuarios e interfaces es fundamental en cada producto. En necesario crear puentes, entendernos 
                            y construir resultados donde los usuarios terminen beneficiados.
                        </p>
                        <a class="p-2" href="https://www.coursera.org/professional-certificates/google-ux-design" target="_blank">Ver más</a>
                    </div>
                </div>
                <div class="timeline-item right">
                    <div class="content">
                        <h3 class="text-start px-2 pt-2">Diplomado de Historia Global</h3>
                        <h4 class="text-start px-2">2023-2024</h4>
                        <p class="text-justify px-2">
                            Estudié Historia. Toda mi vida estará ligada al modo en que las humanidades influyen en la vida cotidiana
                            la toma de decisiones y la explicación que le damos a las cosas. En este diplomado reviví ese ánimo de pensar 
                            criticamente, llevar a profunidad las experiencias, proporcionar contenido a las cosas que hacemos.
                        </p>
                        <a class="p-2" href="https://historicas.unam.mx/educacion-continua/2023/historias-conectadas-en-perspectiva-global" target="_blank">Ver más</a>
                    </div>
                </div>
                <div class="timeline-item left">
                    <div class="content">
                        <h3 class="text-start px-2 pt-2">Diplomado de Marketing Digital</h3>
                        <h4 class="text-start px-2">2022-2023</h4>
                        <p class="text-justify px-2">
                            Tomé este diplomado buscando mi lugar. Aquí aprendí algunas técnicas de SEO, diseño de landing pages 
                            y lo más relevante: procesos de creación de marca, estudio de mercado y estrategía de marketing para la 
                            implementación de un producto. Me ha resultado beneficioso porque ahora tengo más noción
                            acerca de lo que hace el marketing y cómo puedo aportar en estás áreas de trabajo.
                        </p>
                        <a class="p-2" href="https://historicas.unam.mx/educacion-continua/2023/historias-conectadas-en-perspectiva-global" target="_blank">Ver más</a>
                    </div>
                </div>
                <div class="timeline-item right">
                    <div class="content">
                        <h3 class="text-start px-2 pt-2">DevOps Scrum Master</h3>
                        <h4 class="text-start px-2">2023</h4>
                        <p class="text-justify px-2">En 2023 obtuve un certificado en Cloud Academy
                            tras cursar con éxito su curso de scrum master dónde aprendí
                            estrategías de metodologías ágiles y algunas técnicas acerca
                            de cómo llevar un proyecto.
                        </p>
                        <a class="p-2" href="https://uvm.mx/oferta-academica/diplomados-certificaciones/mercadotecnia-y-ventas-en-linea-diplomados-y-certificaciones/diplomado-marketing-digital-ecommerce-marketplaces-en-linea" target="_blank">Ver más</a>
                    </div>
                </div>
                <div class="timeline-item left">
                    <div class="content">
                        <h3 class="text-start px-2 pt-2">Bootcamp de Desarrollo Web</h3>
                        <h4 class="text-start px-2">2022-2023</h4>
                        <p class="text-justify px-2">Decidí profesionalizar mis intereses en la computadora.
                            Estaba buscando un espacio para plazmar mis conocimientos y una forma de trabajo 
                            que fuera congruente con mis valores e intereses.
                        </p>
                        <a class="p-2" href="https://www.laboratoria.la/" target="_blank">Ver más</a>

                    </div>
                </div>
                <div class="timeline-item right">
                    <div class="content">
                        <h3 class="text-start px-2 pt-2">Licenciatura en Historia</h3>
                        <h4 class="text-start px-2">2016-2022</h4>
                        <p class="text-justify px-2">Durante esta etapa aprendí a escribir, investigar, y reconocer la
                            complidad de los Sistemas
                            como unidades de investigación y creación de conocimiento.
                        </p>
                        <a class="p-2" href="https://oferta.unam.mx/historia.html" target="_blank">Ver más</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-2"></div>
    </div>
</main>

